@import 'mixins';

// MANDELBROT Boilerplate style
	
	// Variables
	$mainHeight: 50px;
	$mbrtLightGray: #eee;
	$mbrtDarkGray: #303030;

	#mbrtWrap{
		position: absolute;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;

		.innerWrap{
			position: absolute;
			width: 100%;
			height: 100%;
			margin: auto;
			top: 0; bottom: 0; left: 0; right: 0;
			overflow: scroll;
			background-color: #fff;

			#isoCuadro{
				position: absolute;
				width: 205px;
				height: 205px;
				@include boxFit();
				border: 7px solid black;
				margin: auto;
				top: 0; bottom: 0; left: 0; right: 0;

				#logoCuadro{
					position: absolute;
					width: 140px;
					height: 35px;
					margin: auto;
					top: 0; bottom: 0; left: 0; right: 0;
				}
			}

			#dataCuadro{
				position: absolute;
				width: 330px;
				height: 70px;
				margin: auto;
				left: 0; right: 0;
				bottom: 105px;
				@include smoothFont();
				@include boxFit();
				// border: 1px solid black;

				.line{
					position: relative;
					width: 100%;
					height: 50%;
					text-align: center;
					line-height: 35px;
					font-size: 17px;

					a, .midBar{
						position: relative;
						display: inline-block;
					}

					.midBar{
						width: 1px;
						height: 18px;
						top: 4px;
						margin-left: 1px;
						margin-right: 1px;
						background-color: black;
					}

					a{
						text-decoration: none;
						color: black;
					}
				}
			}
		}
	}

// END MANDELBROT style